@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
    background-image: url(https://images.pexels.com/photos/2422280/pexels-photo-2422280.jpeg);
    background-repeat:no-repeat;
    background-size:60%;
    background-color: black;
}
.right{
    display:flex;
    justify-content: flex-end;
    margin: 0 50px;
    z-index: 1;
}
.sign{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: right;
    max-width: 30vw;    
}
p{
    color:white;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
p:nth-child(2){
    font-weight: 600;
}
i{
    color:rgb(255, 123, 0);
}
.form{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 50px;
}
form{
    display: flex;
    z-index: 1;
    color:white;
    font-family: 'Raleway', sans-serif;
    flex-flow: row wrap;
    width:30vw;
    justify-content: flex-end;
}
input{
    background-color: black;
    color:white;
    border-radius: 5px;
    border:white 1px solid;
    width: 10rem;
    height: 2rem;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
input:valid{
    border-color:rgb(255, 123, 0);
}
input:invalid{
    border-color:white;
}
.input{
    padding:30px;
}

.btm-submit{
    padding: 3rem;

}

button{
    background-color: rgb(255, 123, 0);
    color:black;
    border-radius: 5px;
    border:white 1px solid;
    box-shadow: white 0px 0px 15px ;
    width: 15rem;
    height: 2rem;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.blk-block{
    position: absolute;
    bottom:-1rem;
    background: linear-gradient(90deg,transparent ,black);
    height:60rem;
    width:75rem;
    z-index:0;
}